.sidebar {
    z-index: 998;
    position: fixed;    
    height: 100vh;
    max-height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &__primary {
        background: rgba(0, 123, 255, 1);
        color: rgba(255, 255, 255, 1);
        width: 72px;
        height: 100vh;
        max-height: 100vh;
    }

    &__secondary {
        background: rgba(255, 255, 255, 1);
        color: rgba(63, 69, 103, 1);

        width: 328px;
        height: 100vh;
        max-height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}